/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body,
html {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #000;
  background: #fff;
}

#header {
  background: #c4c4c4;
  padding: 35px;
  margin-bottom: 30px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gold;
}

main .main-video {
  width: 1024px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (min-width: 0px) and (max-width: 767px) {
  main .main-video {
    width: 95%;
  }
}

.video-principal {
  width: 650px;
  height: 400px;
  background-color: #c4c4c4;
}

@media (min-width: 0px) and (max-width: 767px) {
  .video-principal {
    height: 250px;
  }
}

.video-iframe {
  width: 100%;
  min-height: 100%;
}

.video {
  width: 100%;
  height: 100%;
}

.videos-menores {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

@media (min-width: 0px) and (max-width: 767px) {
  .videos-menores {
    width: 100%;
    margin-top: 20px;
    height: 550px;
  }
}

.conteudo-menor {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 150px;
  margin-bottom: 20px;
  background: red;
}

@media (min-width: 0px) and (max-width: 767px) {
  .conteudo-menor {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.conteudo-menor-video {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.sumir {
  display: none;
}

@media (min-width: 0px) and (max-width: 767px) {
  .sumir {
    display: inline;
  }
}
